.button-container {
    margin-bottom: -1rem;
    display: flex;
    justify-content: center;
    /* yatay ortalama */
    align-items: center;
    /* dikey ortalama */
}

.label-text {
    display: inline-block;
    margin-right: 10px;
}