<div class="container">
  <div class="form-group">
   <form #form="ngForm" (ngSubmit)="createMovie(); cleanForm(form)">
    <div class="card">
      <div class="card-header">
          <h2 class="card-title">Kart Başlığı</h2>
      </div>
      <div class="card-content">
        <div class="form-control">
          <input type="text" pInputText id="movieName" [(ngModel)]="model.movieName" type="text"  
         #movieName="ngModel" required minlength = "5" placeholder="enter movie name" name="movieName"/>
          <div *ngIf="movieName.invalid && (movieName.touched || movieName.dirty)">
            <p *ngIf="movieName.errors?.required">gerekli alan</p>
            <p *ngIf="movieName.errors?.minlength">min 5 karakter girmelisiniz.</p>
          </div>
      </div>
      </div>
      <div class="card-footer">
        <button [disabled]=form.invalid type="submit">Tıkla</button>
      </div>
  </div>
    
  
</form>
</div>
</div>
 
  